/* screen - bg */

.bg {
  background-color: transparent;
  height: 7311px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 3678px;
}

.bg .bg-qH0ylr {
  background-color: transparent;
  height: 6699px;
  left: 879px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.bg .rectangle-qH0ylr {
  background-color: transparent;
  height: 7243px;
  left: 873px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 68px;
  width: 1920px;
}

.bg .ellipse-3-qH0ylr {
  background-color: transparent;
  height: 1144px;
  left: 2534px;
  position: absolute;
  top: 1923px;
  width: 572px;
}

.bg .vector-qH0ylr {
  background-color: transparent;
  height: 58px;
  left: 2562px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2221px;
  width: 55px;
}

.bg .vector-KEoGDj {
  background-color: transparent;
  height: 44px;
  left: 1000px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2825px;
  width: 42px;
}

.bg .ellipse-4-qH0ylr {
  background-color: transparent;
  height: 1144px;
  left: 572px;
  position: absolute;
  top: 1923px;
  width: 572px;
}
