body{
    overflow-x:hidden !important;
    float:none;
  }
  .rectangle-474-wYR2cA, .rectangle-474-94ubBR, .rectangle-474-uRxzx7, .rectangle-474-P5LyzL{
    height: 490px !important; 
  }
  .mint-zero-nft-tier1-tdb-membership-wYR2cA{
    top:281px !important;
  }
  .overlap-group {
    align-items: flex-start;
    background-color: var(--white-2);
    border-radius: 5px;
    display: flex;
    height: 82px;
    justify-content: flex-end;
    min-width: 1236px;
    padding: 28px 41px;
  }
  
  .accordion-button.collapsed{
    /* background-color: #2c6572 !important; */
    /* background-color: transparent !important; */
    border-width: 1px;
    border-style: solid;
    border-color: white;
    /* border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important; */
    border-radius: 5px;
  }
  
  
  .accordion-button:not(.collapsed){
    /* background-color: #2c6572 !important; */
    border-width: 1px;
    border-style: solid;
    border-color: var(--screamin-green);
    background-color: transparent !important;
    border-bottom: 0 !important;
    
  }
  
  .accordion-button:not(.collapsed) > div{
    color: var(--screamin-green);
  }
  
  
  
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  .accordion-header{
    background-color: transparent !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
  }
  .accordion-header-bottom-border{
     border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  .accordion-body{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  .accordion-button{
    
    background-color: transparent !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
  }
  .morePadding {  
      padding-bottom: 20px; /* solution with paddings */  
    }  
  
  .accordion-item-border{
    border-width: 1px;
    border-style: solid;
    border-color: var(--screamin-green);
    border-top: 0;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  
  .accordion-item-border.show{
    color: var(--screamin-green);
  }
  
  
  
  .accordion-item{
    background-color: transparent !important;
    border: 0 !important;
  
  }
  